@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.primaryTextColor {
    color: #FD6E0A;
}

.btnPrimary {
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

nav {
    padding: 30px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTitle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/*banner related styles*/
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerGreetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.bannerTitle {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.bannerContent > p {
    padding: 20px 0 30px 0;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.btnContact {
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    background: transparent;
    padding: 18px 35px;
    font-size: 20px;
    color: #FD6E0A;
    font-weight: 700;
}

.banner .profilePic {
    width: 500px;
}